{% extends 'base.html' %} {% block content %}

<h2>Bug Details</h2>
<p><a href="/home">-Return to Home-</a></p>
<p><a href="/assigntome/{{ bug.id }}">-Assign to Me-</a></p>
<p><a href="/markdone/{{ bug.id }}">-Mark as Done-</a></p>
<p><a href="/markinvalid/{{ bug.id }}">-Mark as Invalid-</a></p>

<h3>{{ bug.title }}</h3>
<p>{{bug.description}}</p>

<ul>
  <li>Submitted: {{ bug.date}}</li>
  <li>Status: {{ bug.get_status_display }}</li>
  <li>
    Author: <a href="/user/{{bug.author.id}}">{{bug.author.display_name}}</a>
  </li>
  <li>
    Assigned to: <a href="/user/{{bug.owner.id}}">{{bug.owner.display_name}}</a>
  </li>
  <li>
    Closed by: <a href="/user/{{bug.closer.id}}">{{bug.closer.display_name}}</a>
  </li>
</ul>

{% endblock %}
